/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
docker-compose.yml
docker/php-fpm/Dockerfile
src/.editorconfig
src/.env.example
src/.gitattributes
src/.gitignore
src/artisan
src/composer.json
src/composer.lock
src/gulpfile.js
src/package-lock.json
src/package.json
src/phpunit.xml
src/postcss.config.js
src/server.php
src/tailwind.config.js
src/vite.config.js
src/app/User.php
src/app/Console/Kernel.php
src/app/Console/Commands/Inspire.php
src/app/Console/Commands/Reset.php
src/app/Console/Commands/ResetDemo.php
src/app/Events/Event.php
src/app/Exceptions/Handler.php
src/app/Http/Kernel.php
src/app/Http/Controllers/Controller.php
src/app/Http/Controllers/HomeController.php
src/app/Http/Controllers/Auth/ForgotPasswordController.php
src/app/Http/Controllers/Auth/LoginController.php
src/app/Http/Controllers/Auth/RegisterController.php
src/app/Http/Controllers/Auth/ResetPasswordController.php
src/app/Http/Controllers/Auth/VerificationController.php
src/app/Http/Controllers/Auth/VerifyEmailController.php
src/app/Http/Middleware/Authenticate.php
src/app/Http/Middleware/CheckForMaintenanceMode.php
src/app/Http/Middleware/EncryptCookies.php
src/app/Http/Middleware/RedirectIfAuthenticated.php
src/app/Http/Middleware/TrimStrings.php
src/app/Http/Middleware/TrustProxies.php
src/app/Http/Middleware/VerifyCsrfToken.php
src/app/Http/Requests/Request.php
src/app/Jobs/Job.php
src/app/Listeners/.gitkeep
src/app/Livewire/Actions/Logout.php
src/app/Livewire/Forms/LoginForm.php
src/app/Models/User.php
src/app/Policies/.gitkeep
src/app/Policies/CategoryPolicy.php
src/app/Policies/PostPolicy.php
src/app/Policies/ThreadPolicy.php
src/app/Providers/AppServiceProvider.php
src/app/Providers/AuthServiceProvider.php
src/app/Providers/BroadcastServiceProvider.php
src/app/Providers/EventServiceProvider.php
src/app/Providers/RouteServiceProvider.php
src/app/Providers/VoltServiceProvider.php
src/app/Support/Forum.php
src/app/View/Components/AppLayout.php
src/app/View/Components/GuestLayout.php
src/bootstrap/app.php
src/bootstrap/autoload.php
src/bootstrap/providers.php
src/bootstrap/cache/.gitignore
src/config/app.php
src/config/auth.php
src/config/broadcasting.php
src/config/cache.php
src/config/compile.php
src/config/database.php
src/config/filesystems.php
src/config/forum.api.php
src/config/forum.general.php
src/config/forum.integration.php
src/config/forum.web.php
src/config/logging.php
src/config/mail.php
src/config/queue.php
src/config/services.php
src/config/session.php
src/config/view.php
src/config/forum/api.php
src/config/forum/frontend.php
src/config/forum/general.php
src/config/forum/integration.php
src/database/.gitignore
src/database/factories/ModelFactory.php
src/database/factories/UserFactory.php
src/database/migrations/.gitkeep
src/database/migrations/0001_01_01_000000_create_users_table.php
src/database/migrations/0001_01_01_000001_create_cache_table.php
src/database/migrations/0001_01_01_000002_create_jobs_table.php
src/database/migrations/2014_05_19_151759_create_forum_table_categories.php
src/database/migrations/2014_05_19_152425_create_forum_table_threads.php
src/database/migrations/2014_05_19_152611_create_forum_table_posts.php
src/database/migrations/2014_10_12_000000_create_users_table.php
src/database/migrations/2014_10_12_100000_create_password_resets_table.php
src/database/migrations/2015_04_14_180344_create_forum_table_threads_read.php
src/database/migrations/2015_07_22_181406_update_forum_table_categories.php
src/database/migrations/2015_07_22_181409_update_forum_table_threads.php
src/database/migrations/2015_07_22_181417_update_forum_table_posts.php
src/database/migrations/2016_05_24_114302_add_defaults_to_forum_table_threads_columns.php
src/database/migrations/2016_07_09_111441_add_counts_to_categories_table.php
src/database/migrations/2016_07_09_122706_add_counts_to_threads_table.php
src/database/migrations/2016_07_10_134700_add_sequence_to_posts_table.php
src/database/migrations/2024_03_30_095622_update_forum_category_colors.php
src/database/seeders/DatabaseSeeder.php
src/database/seeders/ForumCategoriesSeeder.php
src/database/seeds/.gitkeep
src/database/seeds/DatabaseSeeder.php
src/database/seeds/ForumCategoriesSeeder.php
src/lang/vendor/forum/.gitkeep
src/lang/vendor/forum/de/categories.php
src/lang/vendor/forum/de/general.php
src/lang/vendor/forum/de/posts.php
src/lang/vendor/forum/de/threads.php
src/lang/vendor/forum/de/validation.php
src/lang/vendor/forum/en/categories.php
src/lang/vendor/forum/en/general.php
src/lang/vendor/forum/en/posts.php
src/lang/vendor/forum/en/threads.php
src/lang/vendor/forum/en/validation.php
src/lang/vendor/forum/es/categories.php
src/lang/vendor/forum/es/general.php
src/lang/vendor/forum/es/posts.php
src/lang/vendor/forum/es/threads.php
src/lang/vendor/forum/es/validation.php
src/lang/vendor/forum/fr/categories.php
src/lang/vendor/forum/fr/general.php
src/lang/vendor/forum/fr/posts.php
src/lang/vendor/forum/fr/threads.php
src/lang/vendor/forum/fr/validation.php
src/lang/vendor/forum/id/categories.php
src/lang/vendor/forum/id/general.php
src/lang/vendor/forum/id/posts.php
src/lang/vendor/forum/id/threads.php
src/lang/vendor/forum/id/validation.php
src/lang/vendor/forum/it/categories.php
src/lang/vendor/forum/it/general.php
src/lang/vendor/forum/it/posts.php
src/lang/vendor/forum/it/threads.php
src/lang/vendor/forum/it/validation.php
src/lang/vendor/forum/nl/categories.php
src/lang/vendor/forum/nl/general.php
src/lang/vendor/forum/nl/posts.php
src/lang/vendor/forum/nl/threads.php
src/lang/vendor/forum/nl/validation.php
src/lang/vendor/forum/pt-br/categories.php
src/lang/vendor/forum/pt-br/general.php
src/lang/vendor/forum/pt-br/posts.php
src/lang/vendor/forum/pt-br/threads.php
src/lang/vendor/forum/pt-br/validation.php
src/lang/vendor/forum/ro/categories.php
src/lang/vendor/forum/ro/general.php
src/lang/vendor/forum/ro/posts.php
src/lang/vendor/forum/ro/threads.php
src/lang/vendor/forum/ro/validation.php
src/lang/vendor/forum/ru/categories.php
src/lang/vendor/forum/ru/general.php
src/lang/vendor/forum/ru/posts.php
src/lang/vendor/forum/ru/threads.php
src/lang/vendor/forum/ru/validation.php
src/lang/vendor/forum/sr/categories.php
src/lang/vendor/forum/sr/general.php
src/lang/vendor/forum/sr/posts.php
src/lang/vendor/forum/sr/threads.php
src/lang/vendor/forum/sr/validation.php
src/lang/vendor/forum/sv/categories.php
src/lang/vendor/forum/sv/general.php
src/lang/vendor/forum/sv/posts.php
src/lang/vendor/forum/sv/threads.php
src/lang/vendor/forum/sv/validation.php
src/lang/vendor/forum/th/categories.php
src/lang/vendor/forum/th/general.php
src/lang/vendor/forum/th/posts.php
src/lang/vendor/forum/th/threads.php
src/lang/vendor/forum/th/validation.php
src/lang/vendor/forum/tr/categories.php
src/lang/vendor/forum/tr/general.php
src/lang/vendor/forum/tr/posts.php
src/lang/vendor/forum/tr/threads.php
src/lang/vendor/forum/tr/validation.php
src/lang/vendor/forum/zh/categories.php
src/lang/vendor/forum/zh/general.php
src/lang/vendor/forum/zh/posts.php
src/lang/vendor/forum/zh/threads.php
src/lang/vendor/forum/zh/validation.php
src/public/.htaccess
src/public/favicon.ico
src/public/index.php
src/public/robots.txt
src/public/web.config
src/public/css/app.css
src/public/fonts/glyphicons-halflings-regular.eot
src/public/fonts/glyphicons-halflings-regular.svg
src/public/fonts/glyphicons-halflings-regular.ttf
src/public/fonts/glyphicons-halflings-regular.woff
src/public/fonts/glyphicons-halflings-regular.woff2
src/resources/assets/sass/app.scss
src/resources/css/app.css
src/resources/forum/livewire-tailwind/css/forum.css
src/resources/forum/livewire-tailwind/js/forum.js
src/resources/forum/livewire-tailwind/views/components/alerts.blade.php
src/resources/forum/livewire-tailwind/views/components/breadcrumb-categories.blade.php
src/resources/forum/livewire-tailwind/views/components/breadcrumbs.blade.php
src/resources/forum/livewire-tailwind/views/components/button.blade.php
src/resources/forum/livewire-tailwind/views/components/group-button.blade.php
src/resources/forum/livewire-tailwind/views/components/link-button.blade.php
src/resources/forum/livewire-tailwind/views/components/loading-overlay.blade.php
src/resources/forum/livewire-tailwind/views/components/modal.blade.php
src/resources/forum/livewire-tailwind/views/components/pagination.blade.php
src/resources/forum/livewire-tailwind/views/components/pill.blade.php
src/resources/forum/livewire-tailwind/views/components/timestamp.blade.php
src/resources/forum/livewire-tailwind/views/components/category/card.blade.php
src/resources/forum/livewire-tailwind/views/components/category/draggable-items.blade.php
src/resources/forum/livewire-tailwind/views/components/category/options.blade.php
src/resources/forum/livewire-tailwind/views/components/form/error.blade.php
src/resources/forum/livewire-tailwind/views/components/form/input-checkbox.blade.php
src/resources/forum/livewire-tailwind/views/components/form/input-select.blade.php
src/resources/forum/livewire-tailwind/views/components/form/input-text.blade.php
src/resources/forum/livewire-tailwind/views/components/form/input-textarea.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/arrow-down-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/arrow-path-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/arrow-right-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/arrow-up-circle-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/arrow-up-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/book-open-outline.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/chat-bubble-text-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/chat-bubble-text-outline.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/chat-bubbles-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/chat-bubbles-outline.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/drag-area-vertical.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/home-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/lock-closed-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/lock-open-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/pencil-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/pencil-outline.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/sparkles-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/squares-plus-outline.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/subcategory.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/trash-mini.blade.php
src/resources/forum/livewire-tailwind/views/components/icons/x-mark.blade.php
src/resources/forum/livewire-tailwind/views/components/post/card.blade.php
src/resources/forum/livewire-tailwind/views/components/post/quote.blade.php
src/resources/forum/livewire-tailwind/views/components/thread/card.blade.php
src/resources/forum/livewire-tailwind/views/layouts/main.blade.php
src/resources/forum/livewire-tailwind/views/pages/category/create.blade.php
src/resources/forum/livewire-tailwind/views/pages/category/edit.blade.php
src/resources/forum/livewire-tailwind/views/pages/category/index.blade.php
src/resources/forum/livewire-tailwind/views/pages/category/manage.blade.php
src/resources/forum/livewire-tailwind/views/pages/category/show.blade.php
src/resources/forum/livewire-tailwind/views/pages/post/edit.blade.php
src/resources/forum/livewire-tailwind/views/pages/post/show.blade.php
src/resources/forum/livewire-tailwind/views/pages/thread/create.blade.php
src/resources/forum/livewire-tailwind/views/pages/thread/recent.blade.php
src/resources/forum/livewire-tailwind/views/pages/thread/reply.blade.php
src/resources/forum/livewire-tailwind/views/pages/thread/show.blade.php
src/resources/forum/livewire-tailwind/views/pages/thread/unread.blade.php
src/resources/js/app.js
src/resources/js/bootstrap.js
src/resources/lang/en/auth.php
src/resources/lang/en/pagination.php
src/resources/lang/en/passwords.php
src/resources/lang/en/validation.php
src/resources/lang/vendor/forum/.gitkeep
src/resources/lang/vendor/forum/de/categories.php
src/resources/lang/vendor/forum/de/general.php
src/resources/lang/vendor/forum/de/posts.php
src/resources/lang/vendor/forum/de/threads.php
src/resources/lang/vendor/forum/de/validation.php
src/resources/lang/vendor/forum/en/categories.php
src/resources/lang/vendor/forum/en/general.php
src/resources/lang/vendor/forum/en/posts.php
src/resources/lang/vendor/forum/en/threads.php
src/resources/lang/vendor/forum/en/validation.php
src/resources/lang/vendor/forum/es/categories.php
src/resources/lang/vendor/forum/es/general.php
src/resources/lang/vendor/forum/es/posts.php
src/resources/lang/vendor/forum/es/threads.php
src/resources/lang/vendor/forum/es/validation.php
src/resources/lang/vendor/forum/fr/categories.php
src/resources/lang/vendor/forum/fr/general.php
src/resources/lang/vendor/forum/fr/posts.php
src/resources/lang/vendor/forum/fr/threads.php
src/resources/lang/vendor/forum/fr/validation.php
src/resources/lang/vendor/forum/it/categories.php
src/resources/lang/vendor/forum/it/general.php
src/resources/lang/vendor/forum/it/posts.php
src/resources/lang/vendor/forum/it/threads.php
src/resources/lang/vendor/forum/it/validation.php
src/resources/lang/vendor/forum/nl/categories.php
src/resources/lang/vendor/forum/nl/general.php
src/resources/lang/vendor/forum/nl/posts.php
src/resources/lang/vendor/forum/nl/threads.php
src/resources/lang/vendor/forum/nl/validation.php
src/resources/lang/vendor/forum/pt-br/categories.php
src/resources/lang/vendor/forum/pt-br/general.php
src/resources/lang/vendor/forum/pt-br/posts.php
src/resources/lang/vendor/forum/pt-br/threads.php
src/resources/lang/vendor/forum/pt-br/validation.php
src/resources/lang/vendor/forum/ro/categories.php
src/resources/lang/vendor/forum/ro/general.php
src/resources/lang/vendor/forum/ro/posts.php
src/resources/lang/vendor/forum/ro/threads.php
src/resources/lang/vendor/forum/ro/validation.php
src/resources/lang/vendor/forum/ru/categories.php
src/resources/lang/vendor/forum/ru/general.php
src/resources/lang/vendor/forum/ru/posts.php
src/resources/lang/vendor/forum/ru/threads.php
src/resources/lang/vendor/forum/ru/validation.php
src/resources/lang/vendor/forum/sr/categories.php
src/resources/lang/vendor/forum/sr/general.php
src/resources/lang/vendor/forum/sr/posts.php
src/resources/lang/vendor/forum/sr/threads.php
src/resources/lang/vendor/forum/sr/validation.php
src/resources/lang/vendor/forum/sv/categories.php
src/resources/lang/vendor/forum/sv/general.php
src/resources/lang/vendor/forum/sv/posts.php
src/resources/lang/vendor/forum/sv/threads.php
src/resources/lang/vendor/forum/sv/validation.php
src/resources/lang/vendor/forum/th/categories.php
src/resources/lang/vendor/forum/th/general.php
src/resources/lang/vendor/forum/th/posts.php
src/resources/lang/vendor/forum/th/threads.php
src/resources/lang/vendor/forum/th/validation.php
src/resources/lang/vendor/forum/tr/categories.php
src/resources/lang/vendor/forum/tr/general.php
src/resources/lang/vendor/forum/tr/posts.php
src/resources/lang/vendor/forum/tr/threads.php
src/resources/lang/vendor/forum/tr/validation.php
src/resources/views/dashboard.blade.php
src/resources/views/profile.blade.php
src/resources/views/welcome.blade.php
src/resources/views/auth/login.blade.php
src/resources/views/auth/register.blade.php
src/resources/views/auth/emails/password.blade.php
src/resources/views/auth/passwords/email.blade.php
src/resources/views/auth/passwords/reset.blade.php
src/resources/views/components/action-message.blade.php
src/resources/views/components/application-logo.blade.php
src/resources/views/components/auth-session-status.blade.php
src/resources/views/components/danger-button.blade.php
src/resources/views/components/dropdown-link.blade.php
src/resources/views/components/dropdown.blade.php
src/resources/views/components/input-error.blade.php
src/resources/views/components/input-label.blade.php
src/resources/views/components/modal.blade.php
src/resources/views/components/nav-link.blade.php
src/resources/views/components/primary-button.blade.php
src/resources/views/components/responsive-nav-link.blade.php
src/resources/views/components/secondary-button.blade.php
src/resources/views/components/select-input.blade.php
src/resources/views/components/text-input.blade.php
src/resources/views/errors/503.blade.php
src/resources/views/layouts/app.blade.php
src/resources/views/layouts/guest.blade.php
src/resources/views/livewire/.gitkeep
src/resources/views/livewire/layout/navigation.blade.php
src/resources/views/livewire/pages/auth/confirm-password.blade.php
src/resources/views/livewire/pages/auth/forgot-password.blade.php
src/resources/views/livewire/pages/auth/login.blade.php
src/resources/views/livewire/pages/auth/register.blade.php
src/resources/views/livewire/pages/auth/reset-password.blade.php
src/resources/views/livewire/pages/auth/verify-email.blade.php
src/resources/views/livewire/profile/delete-user-form.blade.php
src/resources/views/livewire/profile/update-password-form.blade.php
src/resources/views/livewire/profile/update-profile-information-form.blade.php
src/resources/views/livewire/welcome/navigation.blade.php
src/resources/views/vendor/.gitkeep
src/resources/views/vendor/forum/.gitkeep
src/resources/views/vendor/forum/master.blade.php
src/routes/api.php
src/routes/auth.php
src/routes/channels.php
src/routes/console.php
src/routes/web.php
src/storage/app/.gitignore
src/storage/app/public/.gitignore
src/storage/debugbar/.gitignore
src/storage/framework/.gitignore
src/storage/framework/cache/.gitignore
src/storage/framework/cache/data/.gitignore
src/storage/framework/sessions/.gitignore
src/storage/framework/testing/.gitignore
src/storage/framework/views/.gitignore
src/storage/logs/.gitignore
src/tests/ExampleTest.php
src/tests/TestCase.php
src/tests/Feature/ExampleTest.php
src/tests/Feature/ProfileTest.php
src/tests/Feature/Auth/AuthenticationTest.php
src/tests/Feature/Auth/EmailVerificationTest.php
src/tests/Feature/Auth/PasswordConfirmationTest.php
src/tests/Feature/Auth/PasswordResetTest.php
src/tests/Feature/Auth/PasswordUpdateTest.php
src/tests/Feature/Auth/RegistrationTest.php
src/tests/Unit/ExampleTest.php
