

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#main {
  padding-top: 30px;
}

.logged-in {
  float: right;
  padding: 10px;
  color: #fff;
}
